* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.upload-section {
  display: flex;
  height: 200px;
  margin-bottom: 10px;

  & > div {
    width: 100%;
  }
}

.drop-zone {
  margin-bottom: 10px;
  padding: 40px 10px;
  height: inherit;
  border: 2px dashed #e9ebeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 400px;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
.sidebar a.active {
  background-color: black;
  color: white;
  
}



.sidebar a:hover:not(.active) {
  background-color: #555;
  height: 100px;
  color: white;
}


  


  